<div class="top">
   <div class="top-t">
      <div class="blue"></div>
      <span>课程介绍</span>
   </div>
   <div class="top-b">{{#val.textbook}}</div>
</div>
<hr>
<div class="top">
   <div class="top-t">
      <div class="blue"></div>
      <span>教师介绍</span>
   </div>
   <div class="top-b">{{#val.catalog}}</div>
</div>
<hr>
<div class="top">
   <div class="top-t">
      <div class="blue"></div>
      <span>课程目录</span>
   </div>
   <div class="top-b">
      <p>第一课时: <span>{{val.title}}</span></p>
      <p>第二课时: <span>{{val.title}}</span></p>
      <p>第三课时: <span>{{val.title}}</span></p>
      <p>第四课时: <span>{{val.title}}</span></p>
   </div>
</div>