<div class="class-tit-left">
   <img src="{{val.bgimg}}" alt=""><img>
</div>
<div class="class-tit-right">
   <div class="class-tit-middle">
      <div class="course-title-top">
         <div class="course-title-top-t">
            <h3>{{val.title}}</h3>
            <p>课程邀请码:<span>{{val.invitecode}}</span></p>
         </div>
         <hr>
         <div class="course-title-top-b">
            <div class="course-title-top-b-l">
               <p>任课教师:<span>{{val.author}}</span><span>{{val.college}}</span>
               <p>报名权限: 所有用户都可以报名</p>
            </div>
            <div class="course-title-top-b-r">
               <p>开课时间:<span>{{val.studytime}}</span></p>
               <p>学生人数:<span>{{val.studycount}}</span></p>
            </div>
         </div>
      </div>
      <div class="course-title-bottom">
         加入课程
      </div>
   </div>
</div>