<div class="w-logo-wrap">
   <div class="container">
      <div class="logo-left">
         <a href="#"><img src="../../img/images/首页-01_03.gif" alt=""></a>
      </div>
      <div class="logo-middle">
         <div class="logo-input-left">
            课程
         </div>

         <div class="logo-input-middle">
            <input type="text">
            <div class="logo-input-right">
               <i class="glyphicon glyphicon-search"></i>
            </div>
         </div>
      </div>

      <div class="logo-right">
         <div class="logo-port-left">
            <i class="glyphicon glyphicon-envelope"></i>
         </div>
         <div class="logo-port-middle">
            <div class="portrait">
               <img src="" alt="">
            </div>
            <div class="nam">张三</div>
         </div>
         <div class="logo-port-right">
            教师端
         </div>
      </div>
   </div>
</div>
<!-- 导航区 -->
<div class="w-nav-wrap">
   <div class="nav-left">
      <ul>
         <li class="on"><a href="/view/stu/stu_shou.html">首页</a></li>
         <li><a href="/view/stu/stu_list.html?id=1">课程</a></li>
         <li><a href="/view/stu/stu_accordion.html">教材</a></li>
         <li><a href="/view/stu/stu_study.html">我的学习</a></li>
      </ul>
   </div>
   <div class="nav-right">
      <div class="nav-a">通过课程邀请码加入课程</div>
      <div class="nav-b">通过序列号获取资源权限</div>
   </div>
</div>