<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-06 19:40:00
 * @LastEditTime: 2019-08-06 19:40:00
 * @LastEditors: your name
 -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../style/main.css">
    <!-- 引入swiper的css样式 -->
   <link rel="stylesheet" href="../../lib/Swiper-3.4.2/dist/css/swiper.min.css">

    <title>教师端首页</title>
</head>

<body class="tea-index">
    <div class="top-nav"></div>
    <div class="main-nav1">
    </div>
    <!-- 轮播图 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>

    <!-- 教材区 -->
    <div class="teacher-book1">
      
      
    </div>
    <!--底部 -->
     <!-- 底部通栏区 -->
   <div class="footer">
</div>
    <script src="/lib/require.js" data-main="/js/controllers/teacher/tea_shoucontriller.js"></script>

</body>

</html>