<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-08 19:32:30
 * @LastEditTime: 2019-08-09 15:38:21
 * @LastEditors: Please set LastEditors
 -->
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <title>教材详情</title>
    <link rel="stylesheet" href="../../style/main.css">

</head>

<body class="tea-bookxq">
    <div class="top-nav"></div>
    <div class="main-nav1">
    </div>
    <!-- 面包屑 -->
    <div class="crumbs"></div>
    <!-- 教材详情 -->
    <div class="bookxq1"></div>
    <!--底部 -->
    <!-- 底部通栏区 -->
    <div class="footer">
    </div>
    <script src="/lib/require.js" data-main="/js/controllers/teacher/tea_bookcontriller.js"></script>
</body>

</html>