body,
html,
div,
table,
td,
tr,
p,
ul,
li,
span {
   padding: 0;
   margin: 0;
}

// logo区域
.w-logo-wrap {
   width: 100%;
   height: 94px;
   display: flex;
   align-items: center;

   .container {
      margin: 0 auto;
      width: 1147px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo-middle {
         width: 450px;
         height: 30px;
         display: flex;
         justify-content: center;
         align-items: center;

         .logo-input-left {
            width: 64px;
            height: 30px;
            border: 1px solid #ccc;
            border-right: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fbfbfb;
         }

         .logo-input-left::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            border-top: 5px solid #666666;
         }

         .logo-input-middle {
            position: relative;

            input {
               width: 386px;
               height: 30px;
               border: 1px solid #ccc;
            }

            .logo-input-right {
               width: 40px;
               height: 30px;
               position: absolute;
               top: 0px;
               left: 345px;
               display: flex;
               justify-content: center;
               align-items: center;

            }
         }
      }

      .logo-right {
         width: 265px;
         height: 54px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         position: relative;

         .logo-port-left {
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .logo-port-left::after {
            content: '1';
            display: block;
            position: absolute;
            top: 15px;
            left: 30px;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: red;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

         }

         .logo-port-middle {
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .portrait {
               width: 40px;
               height: 40px;
               border-radius: 50%;
               border: 1px solid #ccc;
               margin-right: 10px;
            }

            .nam::after {
               content: '';
               display: block;
               position: absolute;
               top: 17px;
               left: 106px;
               width: 0;
               height: 0;
               border-right: 6px solid transparent;
               border-left: 6px solid transparent;
               border-top: 6px solid #666666;
            }
         }


         .logo-port-right {
            width: 88px;
            display: flex;
            justify-content: center;
            align-items: center;
         }

         .logo-port-right::after {
            content: '';
            display: block;
            position: absolute;
            top: 24px;
            left: 248px;
            width: 0;
            height: 0;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-top: 6px solid #666666;
         }
      }
   }
}

//导航区域
.w-nav-wrap {
   width: 1519px;
   height: 60px;
   color: #fff;
   display: flex;

   .nav-left {
      width: 960px;
      height: 60px;
      background-color: #3598db;
      float: left;
      padding-left: 240px;
      padding-top: 14px;
      text-align: center;
      line-height: 60px;



      ul {
         list-style: none;
         vertical-align: middle;
         line-height: 60px;
         text-decoration: none;

         li {
            float: left;
            width: 74px;
            height: 30px;
            line-height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            a {
               color: #fff;
               font-size: 15px;
               line-height: 60px;
               text-decoration: none;
            }
         }

         li:nth-child(3) {
            margin-right: 15px;
         }

         li:last-child {
            border-left: 1px solid #9acced;
            width: 138px;
         }

         .on {
            background-color: #2db0f9;
            border-radius: 2px;
         }
      }
   }

   .nav-right {
      width: 576px;
      height: 60px;
      background-color: #e7594d;
      float: left;
      padding-left: 24px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .nav-a {
         width: 192px;
         height: 22px;
         border-right: 1px solid #fff;
         display: flex;
         justify-content: center;
         align-items: center
      }

      .nav-b {
         width: 180px;
         height: 22px;
         display: flex;
         justify-content: center;
         align-items: center
      }
   }
}

 // 底部通栏区
 .acrco-wrap {
   width: 100%;
   height: 136px;
   color: #fff;
   background-color: #373a43;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
}

.stu_shou {


   // 轮播图区域
   .swiper-container {
      width: 100%;
      height: 393px;
   }

   // 推荐课程区域
   .recommend-wrap {

      .container {
         margin: 0 auto;
         width: 1147px;
         height: 600px;

         .recommend {
            width: 100%;
            height: 25px;
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            position: relative;

            .character {
               font-size: 20px;

               span {
                  position: absolute;
                  top: -4px;
                  left: 21px;
               }
            }

            .character::before {
               content: '';
               display: block;
               width: 6px;
               height: 20px;
               background-color: #2db0f9;
            }

            .more {
               font-size: 8px;
               color: #3598db;
            }
         }

         .photo {
            width: 100%;
            height: 600px;

            .photo-list-wrap {
               height: 600px;
               display: flex;
               flex-direction: column;
               flex-flow: row wrap;
               justify-content: space-around;

               .photo-item {
                  list-style: none;

                  .img {
                     width: 200px;
                     height: 175px;
                  }

                  .class-name {
                     width: 200px;
                  }
               }
            }
         }
      }
   }

   //热门教程区域
   .textbook-wrap {
      padding-top: 40px;

      .container {
         margin: 0 auto;
         width: 1147px;
         height: 600px;

         .recommend {
            width: 100%;
            height: 25px;
            margin-top: 35px;
            display: flex;
            justify-content: space-between;
            position: relative;

            .character {
               font-size: 20px;

               span {
                  position: absolute;
                  top: -4px;
                  left: 21px;
               }
            }

            .character::before {
               content: '';
               display: block;
               width: 6px;
               height: 20px;
               background-color: #2db0f9;
            }

            .more {
               font-size: 8px;
               color: #3598db;
            }
         }

         .photo {
            width: 100%;
            height: 600px;

            .photo-list-wrap {
               height: 600px;
               display: flex;
               flex-direction: column;
               flex-flow: row wrap;
               justify-content: space-around;

               .photo-item {
                  list-style: none;

                  img {
                     width: 200px;
                     height: 175px;
                  }

                  .class-name {
                     width: 200px;
                  }
               }
            }
         }
      }
   }

  
}