<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-09 15:32:59
 * @LastEditTime: 2019-08-09 16:04:09
 * @LastEditors: Please set LastEditors
 -->

<p class="about-p">题库  &nbsp;&nbsp; &nbsp;&nbsp; &lt;&lt;{{val.name}}&gt;&gt; &nbsp;&nbsp; 习题数量 {{val.exercises}} &nbsp;&nbsp; 试卷 {{val.examination_paper}}卷</p>

<p class="date-p">您的使用权限截止日期为: <span>00000.000.00</span></p>

<div class="button">
    <div class="button-item left"><a href="#">获取</a></div>
    <div class="button-item right"><a href="#">立即开课</a></div>
</div>

