<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-07 19:23:06
 * @LastEditTime: 2019-08-09 19:57:34
 * @LastEditors: Please set LastEditors
 -->
<div class="main-nav">

    <div class="container1">
        <div class="main-nav-l">
            <ul class="main-nav-list">
                <li class="main-item"><a href="/view/teacher/tea_shou.html">首页</a></li>
                <li class="main-item"> <a target="_blank" href="/view/teacher/tea_booklist.html">教材</a> </li>
                <li class="main-item  mid"> <a target="_blank" href="/view/teacher/tea_teached.html">我的教学</a> </li>
            </ul>
        </div>
        <div class="main-nav-r">
            <ul class="main-list1">
                <li class="main-item1 left"><a href="#">建立课程</a></li>
                <li class="main-item1"><a href="#">通过序列号获取资源权限</a></li>
            </ul>
        </div>
    </div>
</div>