<div class="site-nav">
    <div class="site-nav-l">
        <img src="../../assets/img/logo.png" alt="哈工大图标">
    </div>
    <div class="site-nav-m"><input type="text"></div>
    <div class="site-nav-r">
        <div class="site-list">
            <div class="site-item">图片</div>
            <div class="site-item tr-dialog">
                <div class="tr-dialog-hd">
                    <img src="../../img/images/lunbotu_02.gif" alt="">
                    <a href="#">张三</a>
                </div>

            </div>
            <div class="site-item tw-dialog">
                <div class="tw-dialog-hd">教师端</div>
                
                </div>

            </div>
        </div>
    </div>
</div>