<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-09 10:18:43
 * @LastEditTime: 2019-08-10 10:13:50
 * @LastEditors: Please set LastEditors
 -->
<ul class="crumbs-list">
        <li><a href="/view/teacher/tea_shou.html">首页</a></li>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <li><a target="_blank" href="/view/teacher/tea_booklist.html">教材</a></li>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <li><a href="#">一级分类名称</a></li>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <li><a href="/view/teacher/tea_booklist.html">二级分类名称</a></li>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <li>教材名称</li>
</ul>