<!DOCTYPE html>
<html lang="zh-cn">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../../style/main.css">
   <!-- <link rel="stylesheet" href="../../lib/jquery-easyui-1.8.1/themes/icon.css"> -->
   <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"> -->
   <!-- <link rel="stylesheet" href="../../lib/swiper-4.5.0/dist/css/swiper.min.css"> -->
   <link rel="stylesheet" href="../../lib/Swiper-3.4.2/dist/css/swiper.min.css">

   <!-- <script src="../../lib/jquery-1.12.4.min.js"></script> -->
   <!-- <script src="../../lib/jquery-easyui-1.8.1/jquery.easyui.min.js"></script> -->
   <!-- <script src="../../lib/bootstrap/js/bootstrap.min.js"></script> -->
   <!-- <script src="../../lib/swiper/dist/js/swiper.min.js"></script> -->
   <title>哈工大首页</title>
</head>

<body class="stu_shou">
   <!-- logo区域 -->
   <div class="top"></div>
   <!-- 轮播图区 -->
   <!-- <div class="swiper-container">
      <div class="swiper-wrapper">
      </div>
      <div class="swiper-pagination"></div>
   </div> -->

   <div class="swiper-container">
         <div class="swiper-wrapper">
            
         </div>
         <!-- 如果需要分页器 -->
         <div class="swiper-pagination"></div>
         
         <!-- 如果需要导航按钮 -->
         <div class="swiper-button-prev"></div>
         <div class="swiper-button-next"></div>
         
         <!-- 如果需要滚动条 -->
         <div class="swiper-scrollbar"></div>
     </div>

   <!-- 推荐课程区 -->
   <div class="recommend-wrap">
      <div class="container">
         <div class="recommend">
            <div class="character">
               <span> 推荐课程</span>
            </div>
            <div class="more"><a href="#"> more...</a></div>
         </div>
         <div class="photo">
            <div class="course-bd">
            </div>
         </div>
      </div>
   </div>
   <!-- 热门教程区 -->
   <div class="textbook-wrap">
      <div class="container">
         <div class="recommend">
            <div class="character">
               <span> 推荐教材</span>
            </div>
            <div class="more"><a href="#"> more...</a></div>
         </div>
         <div class="photo">
            <div class="course-cd">
            </div>
         </div>
      </div>
   </div>
   <!-- 底部通栏区 -->
   <div class="acrco-wrap">
   </div>
   <script src="/lib/require.js" data-main="/js/controllers/student/stu_shou.js"></script>
</body>

</html>