<!DOCTYPE html>
<html lang="zh-cn">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../lib/simplePagination/simplePagination.css">
   <link rel="stylesheet" href="../../style/main.css">
   <title>完结</title>
</head>

<body class="stu_end">
   <!-- logo区域 -->
   <div class="top"></div>
   <div class="containerd">
      <!-- 课程管理区域 -->
      <div class="managementa">
         <div class="man-l">
            <div class="l-l"><a href="/view/stu/stu_study.html">开课中</a> </div>
            <div class="l-r"><a href="/view/stu/stu_end.html">已完结</a> </div>
         </div>
      </div>
      <!-- 内容区域 -->
      <div class="centent">
      </div>
      <!-- 分页区域 -->
      <div class="page">
         <div class="page-l">共<span>100</span>个课程</div>
         <div class="page-r"></div>
      </div>
   </div>
   <div class="acrco-wrap"></div>
   <script src="/lib/require.js" data-main="/js/controllers/student/stu_end.js"></script>
</body>

</html>