<!DOCTYPE html>
<html lang="zh-cn">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../style/main.css">
   <link rel="stylesheet" href="../../lib/simplePagination/simplePagination.css">

   <!-- <script src="../../lib/jquery-1.12.4.min.js"></script> -->
   <!-- <script src="../../lib/jquery-easyui-1.8.1/jquery.easyui.min.js"></script> -->
   <!-- <link rel="stylesheet" href="/lib/jquery-easyui-1.8.1/themes/default/easyui.css"> -->
   <!-- <link rel="stylesheet" href="../../lib/jquery-easyui-1.8.1/themes/icon.css"> -->

   <title>分页页面</title>
</head>
<body class="stu_accordion">
   <!-- logo区域 -->
   <div class="top"></div>
   <!-- 级分类 -->
   <div class="containerb">
      <!-- 级分类 -->
      <div class="classifyaa"></div>
      <!-- 手风琴 -->
      <div class="accordioner">
         <ul class="accordioner-l"></ul>
         <div class="accordioner-r"></div>
      </div>
   </div>
   <!-- 底部通栏 -->
   <div class="acrco-wrap"></div>

   <script src="/lib/require.js" data-main="/js/controllers/student/stu_accord.js"></script>
</body>

</html>